# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/


docker/jenkins-master/jenkins_home/credentials.xml
docker/jenkins-master/jenkins_home/hudson.plugins.s3.S3BucketPublisher.xml
docker/jenkins-master/jenkins_home/secret*
docker/jenkins-master/jenkins_home/secrets

*.tgz

mattermost-jenkins/requirements.lock
mattermost-jenkins/charts
